# macOS
.DS_Store

# build and temporary directories
build/
build32
build64
externals
temp
tmp

# Xcode and Visual Studio files and directories
*.pbxuser
*.mode1v3
xcuserdata
*.xcworkspace
*.tm_build_errors
*.ncb
*.suo
*.vcproj.*
*.wwdb
*.user
*.sdf
ipch
*.opensdf

# Visual Studio Code
.vscode
